{% extends 'base.html.twig' %}

{% block body %}
    <p>Current conditions : {{ affichageConditions.temperature }} degree C, {{ affichageConditions.humidite }} % humidity and {{ affichageConditions.pression }} hPa.</p>
    <p>Sum/Max/Min Temperature = {{ affichageStats.sumTemp }}/{{ affichageStats.maxTemp }}/{{ affichageStats.minTemp }}</p>
    <p>Forecast: {{ affichagePrevisions.prevision }}</p>
{% endblock %}